<div class="add-branch">
    <h1>Add New Branch</h1>
    <form
     class="common-form">
      <input
        type="number"
        class="form-input"
        placeholder="Enter Branch id"
        name="id"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter Branch Name"
        name="name"
        ngModel
      />
      <input
      type="text"
      class="form-input"
      placeholder="Enter Branch Address"
      name="Address"
      ngModel
    />
    <input
    type="number"
    class="form-input"
    placeholder="Enter governate id"
    name="governate"
    ngModel
  />
  <input
  type="number"
  class="form-input"
  placeholder="Enter phoneNumberOne"
  name="phoneNumberOne"
  ngModel
  />
  <input
  type="number"
  class="form-input"
  placeholder="Enter phoneNumberTwo"
  name="phoneNumberTwo"
  ngModel
  />
  <input
  type="number"
  class="form-input"
  placeholder="Enter TelNumberOne"
  name="TelNumberOne"
  ngModel
  />
  <input
  type="number"
  class="form-input"
  placeholder="Enter TelNumberTwo"
  name="TelNumberTwo"
  ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="fax"
  name="fax"
  ngModel
  />
  <input
  type="number"
  class="form-input"
  placeholder="Enter managerid"
  name="managerid"
  ngModel
  />
  <button class="form-button">Add branch</button>
  
    </form>
  </div>